body {
  font-family: Times, serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  border-top: solid 0.5em #FFF8E7; /* Fun fact: this color, "Cosmic Latte", is
                                      supposed to be the average color of the
                                      universe. */
  border-bottom: solid 0.5em #FFF8E7;
  color: #222;
  background-color: white;
}

p, li {
  line-height: 1.6em;
  text-rendering: optimizeLegibility;

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

@media screen and (min-width: 500px) {
    p, li {
        text-align: justify;
    }
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

strong a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: lighter;
}


strong a:visited {
  color: black;
}

a {
  color: #559;
  /* text-decoration: none; */
}

/*
p a:after, li a:after {
    position: relative;
    content: "\FEFF\00B0"; / * zero width no break space + degree symbol * /
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
}
*/


#header h1 a, #rightbox > a, #rightbox > a:visited, #rightbox > a:visited:hover {
  color: black;
}

a:hover {
  color: #77A;
}

a:active {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: #77A;
}

a:visited:hover {
  color: #77C;
}

#header {
  padding: 0.5em;
  overflow: hidden;
  margin-bottom: 2em;
}

#header h1 {
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: 100;
  
  display: inline-block;
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  height: 1em;
  white-space: nowrap;
}

#header h1 a, #header h1 a:visited {
  text-decoration: none;
}

#header h1:hover {
  cursor: pointer;
}

#rightbox {
  line-height: 1em;
  float: right;
  height: 1em;
  font-weight: lighter;
}


h2 {
  margin-bottom: 0.1em;
  font-size: 1.5em;
  padding-bottom: 0.1em;
  font-weight: lighter;
  font-family: sans-serif;
}

h4 {
  margin-top: 1em;
  margin-bottom: 2em;
  font-variant: small-caps;
  font-size: 0.8em;
  font-weight: lighter;
  font-family: sans-serif;
}

.clearer {
  clear: both;
}

#postcontent h2:first-child, #postcontent h4 {
  text-align: center;
}

#postcontent h4 {
    margin-bottom: 4em;
}

h3 {
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

#footer {
  text-align: center;
  padding: 2em;
  padding-top: 5em;
  font-size: 0.7em;
  color: gray;
}

.centered, #postlist {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}


#postlist p {
    margin-bottom: 2em;
    text-indent: 0;
    color: #666;
    font-size: 0.8em;
}

#pagesbox {
  text-align: center;
}


#whoami {
  font-size: 0.9em;
}

#whoami h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

/*
#postcontent p:first-of-type:first-letter, .dropcap:first-letter {
  font-size: 4em;
  margin-right: 2px;
  font-family: "Didot", "Baskerville", "Garamond", serif;
}
*/
/*
#postcontent p:first-of-type:first-line {
  font-variant: small-caps;
}
*/
strong a {
  color: black;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

blockquote {
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

blockquote p {
  text-indent:0;
}



hr {
  width: 2em;
  border: none;
  height: 0;
  background-color: gray;
  margin-top: 3em;
  margin-bottom: 3em;
}

hr:after {
    content: "\2767"; /* &#10087; a fleuron */
    display: block;
    text-align: center;
    position: relative; top: -0.7em;
}


/*
code[class*="language-"] {
  font-size: inherit !important;
}
pre[class*="language-"], code[class*="language-"] {
    text-shadow: none !important;
}

pre[class*="language-"] *, code[class*="language-"] * {
    background: inherit !important;
}

pre {
    background: inherit !important;
}*/

code {
    font-size: 0.7em;
}

pre {
    overflow-x: auto;
    margin: 2em;
}

ul li:before {
    display: inline-block;
    content: "\00bb"; /* a right guillimet for a bullet (abuse) */
    margin-left: -1.5em;
    width: 1.5em;
}
ul li {
    list-style: none;
}

li {
    margin-bottom: 1em;
}

li p {
    display: inline;
}

.sc {
    font-variant: small-caps;
}


#comment-breaker {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
