@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700);

body {
  font-family: "Open Sans", "Helvetica", Arial sans-serif;
  font-weight: 100;
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
  height: 30px;
}

p {
  text-indent: 20px;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

strong a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 20px;
}

strong a:visited {
  color: black;
}

a {
  color: #559;
}

a:hover {
  color: #77A;
}

a:active {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: gray;
}

a:visited:hover {
  color: #77A;
}

strong.visitedposts a {
  color: gray;
}

#header {
  padding: 10px;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#f9f9f9), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: linear-gradient(top, #f9f9f9, #f3f3f3);
  -webkit-box-shadow: 0px 2px 5px #ddd;
  box-shadow: 0px 2px 5px #ddd;
  overflow: hidden;
}

#header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  -webkit-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
  text-shadow: none;
  letter-spacing: 3px;
  word-spacing: 2px;
  display: inline-block;
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  height: 30px;
  white-space: nowrap;
}

#header h1 a {
  text-decoration: none;
  color: black;
}

#header h1:hover {
  -webkit-transition: text-shadow 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out;
  text-shadow: 0 0 5px #F66;
  cursor: pointer;
}

#rightbox {
  line-height: 30px;
  float: right;
  height: 30px;
  margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

.clearer {
  clear: both;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

#footer {
  text-align: right;
  padding-right: 10px;
  padding-top: 100px;
  font-size: 12px;
  color: gray;
}

.centered, #postlist {
  padding: 30px;
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

#postlist p {
    margin-bottom: 50px;
}

#pagesbox {
  text-align: center;
}

#whoami {
  padding: 30px;
  margin-top: 10px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  color: gray;
}

#whoami h2 {
  font-size: 16px;
}


#postcontent > p:first-of-type:first-letter, .dropcap:first-letter {
  font-size: 30px;
  font-family: "Didot", "Baskerville", "Garamond", serif;
  color: #666;
}

strong a {
  color: black;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

textarea,
input[type=text] {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  -webkit-box-shadow: 0 0 0px #CCC;
  box-shadow: 0 0 0px #CCC;
  border-style: solid;
  border-color: #EEE;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  resize: none;
}

textarea:focus,
input[type=text]:focus {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  outline: none;
  -webkit-box-shadow: 0 0 4px lightblue;
  box-shadow: 0 0 4px lightblue;
}

blockquote {
  font-style: italic;
}

blockquote p {
    text-indent:0px;
}
