body {
  font-family: Palatino, Times, serif;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  border-top: solid 0.2em #c90426;
  border-bottom: solid 0.2em #c90426;
  color: #222;
  background-color: white;
}

p, li, dd {
  line-height: 1.4em;
  text-rendering: optimizeLegibility;

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

/*
@media screen and (min-width: 500px) {
    p, li {
        text-align: justify;
    }
}
*/

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

strong a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: lighter;
}


strong a:visited {
  color: black;
}

a {
  color: #559;
  /* text-decoration: none; */
}

/* Weird degree symbol after anchor thingy
p a:after, li a:after {
    position: relative;
    content: "\FEFF\00B0"; / * zero width no break space + degree symbol * /
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
}
*/



a:hover {
  color: #77A;
}

a:active {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: #77A;
}

a:visited:hover {
  color: #77C;
}

#header {
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  margin-bottom: 5em;
}

#header a {
  color: black;
}

#header canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Page title is h1 */
#header h1 {
  position: relative;
  z-index: 2;
  font-variant: small-caps;
  font-family: sans-serif;
  letter-spacing: 0.3em;
  font-weight: 100;
  
  display: inline-block;
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  height: 1em;
  white-space: nowrap;

  width: 100%;
  text-align: center;
}

#header h1 a {
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 0.2em rgba(255, 0, 0, 0);
}
#header h1 a:hover {
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 0.2em rgba(255, 0, 0, 1);
}

#header h1 a, #header h1 a:visited, #footer a, #footer a:visited {
  text-decoration: none;
}

#header h1:hover {
  cursor: pointer;
}


/* Article title is h2 */
h2 {
  margin-bottom: 0.1em;
  font-size: 1.5em;
  padding-bottom: 0.1em;
  font-weight: lighter;
/*font-family: sans-serif; */
}

/* Article subheadings are h3 */
h3 {
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 0.5em;
/*font-family: sans-serif;*/
}

/* Dateline is h4 */
h4 {
  margin-top: 1em;
  margin-bottom: 2em;
  font-variant: small-caps;
  font-size: 0.8em;
  font-weight: lighter;
  font-family: sans-serif;
}

.clearer {
  clear: both;
}

#postcontent h2:first-child, #postcontent h4 {
  text-align: center;
}

#postcontent h4 {
    margin-bottom: 4em;
}

#footer {
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 0.6em;
  margin-top: 5em;
  color: gray;
  border-top: 1px solid #ddd;
}
#footer div {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 500px) {
  #footer div {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
#footer ul {
  margin-top: 0;
}
#footer a, #footer a:visited {
  color: gray;
}
#footer a:hover {
  color: red;
}
#footer div ul li {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  list-style: none !important;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: lighter;
  font-family: sans-serif;
}

.centered, #postlist {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}


#postlist p {
    margin-bottom: 2em;
    text-indent: 0;
    color: #666;
    font-size: 0.8em;
}

#pagesbox {
  text-align: center;
}


#whoami {
  font-size: 0.9em;
}

#whoami h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

/*
#postcontent p:first-of-type:first-letter, .dropcap:first-letter {
  font-size: 4em;
  margin-right: 2px;
  font-family: "Didot", "Baskerville", "Garamond", serif;
}
*/
/*
#postcontent p:first-of-type:first-line {
  font-variant: small-caps;
}
*/
strong a {
  color: black;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

blockquote {
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

blockquote p {
  text-indent:0;
}



hr {
  width: 2em;
  border: none;
  height: 0;
  background-color: gray;
  margin-top: 3em;
  margin-bottom: 3em;
}

hr:after {
    content: "\2767"; /* &#10087; a fleuron */
    display: block;
    text-align: center;
    position: relative; top: -0.7em;
}


/*
code[class*="language-"] {
  font-size: inherit !important;
}
pre[class*="language-"], code[class*="language-"] {
    text-shadow: none !important;
}

pre[class*="language-"] *, code[class*="language-"] * {
    background: inherit !important;
}

pre {
    background: inherit !important;
}*/

pre {
    overflow-x: auto;
    margin: 2em;
}

#postcontent ul li:before {
    display: inline-block;
    content: "\00bb"; /* a right guillimet for a bullet (abuse) */
    margin-left: -1.5em;
    width: 1.5em;
}
#postcontent ul li {
    list-style: none;
}

li {
    margin-bottom: 1em;
}

li p {
    display: inline;
}

.sc {
    font-variant: small-caps;
}


#comment-breaker {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
