<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>404 Not Found | Comfortably Numbered</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>

        {{{ header }}}

        <div class="centered">
            <h2>404.</h2>
            <h3>That's geek for <q>oops</q>.</h3>
            <p class="dropcap">We can't seem to find the page you're looking for. Did you enter the wrong URL? Follow an ancient link? Get trolled by a grue? Don't worry, we'll get you through this:
            <ol>
                <li>Don't panic.
                <li>Refresh this page.
                <li>Check the URL.
                <li>(I caught you panicking, didn't I?)
                <li>Go back to the previous page, and pretend this never happened. I won't tell.
                <li>Ask someone smart for help.
            </ol>

            <div style="text-align:right;">
                Sincere apologies,<br/>
                <span style="font-family:cursive;">Hardmath123</span>
            </div>

            {{{ footer }}}

        </div>
    </body>
</html>
