<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>404 Not Found | Comfortably Numbered</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>

        {{{ header }}}

        <div class="centered">
            <h2>404.</h2>
            <h3>That's geek for <q>oops</q>.</h3>
            
            <p>I can't seem to find the page you're looking for. Did you enter
            the wrong URL?</p>

        </div>
        {{{ footer }}}
    </body>
</html>
