<footer id="footer">
            <div>
                <ul>
                    <li><a href="http://github.com/Hardmath123">
                        <span class="octicon octicon-mark-github"></span>
                        Github</a></li>
                    <li><a href="feed.xml">
                        <span class="octicon octicon-rss"></span>
                        Subscribe (RSS)</a></li>
                    <li><a href="https://github.com/Hardmath123/hardmath123.github.io/issues/new?title=Hi&body=How's%20it%20going%3F">
                        <span class="octicon octicon-comment-discussion"></span>
                        Feedback</a></li>
                    <li><a href="mailto:contact-at-comfortablynumbered-dot-appspotmail-dot-com">
                        <span class="octicon octicon-mail-read"></span>
                        Email</a></li>
                    <li><a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
                        <span class="octicon octicon-law"></span>
                        CC BY-NC 3.0</a></li>
                    <li><a href="appreciation.html">
                        <span class="octicon octicon-beer"></span>
                        Other</a></li>
                </ul>
            </div>

            <!--
            <span class="sc">ComfortablyNumbered</span> &middot; Hardmath123 (2013) &middot; <a href="feed.xml">RSS Feed</a>
            &nbsp;&middot;&nbsp;
            <a href="/appreciation.html">
                <span class="octicon octicon-beer"></span></a>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
                <img
                    alt="Creative Commons License"
                    src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png"/>
            </a>
            -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-46120535-1', 'hardmath123.github.io');
                ga('require', 'displayfeatures');
                ga('send', 'pageview');
            </script>
        </footer>
