<div id="header">
    <link rel="stylesheet" href="/octicons/octicons.css">
    <h1>
        <a href="/"><span class="left-word">Comfortably</span><span class="right-word">Numbered</span></a>
    </h1>
    <div id="rightbox">
        <a href="http://github.com/Hardmath123">
            <span class="octicon octicon-mark-github"></span></a>
        &nbsp;&middot;&nbsp;
        <a href="/feed.xml">
            <span class="octicon octicon-rss"></span></a>
    </div>
    <div class="clearer"></div>
    <!-- You're reading the source to my blog? What do you think?

    Do you have dinner plans? -->
</div>
