<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>Comfortably Numbered</title>
        <script src="static/cheet.js" charset="utf-8"></script>
        <script src="static/main.js"  charset="utf-8"></script>
        <meta name="description" content="Hardmath123's blog."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        {{{ header }}}
        

        <div id="whoami" class="centered">
            <h2><code>$(whoami)</code></h2>

            <p class="dropcap">I am a geek. When not staring at math problems or code, I&apos;m producing, consuming, or criticizing music. Hardmath123 is my alias on the internet.<sup>[<a href="https://github.com/Hardmath123">1</a>] [<a href="http://scratch.mit.edu/users/Hardmath123">2</a>] [<a href="http://stackoverflow.com/users/3053429/hardmath123">3</a>]</sup>

            <h2><code>$(whereami)</code></h2>
            <p>You're at my blog, a collection of posts about anything geeky.

            <blockquote><em>I'm not tryin' to cause a big s-s-sensation,<br/><br/>I'm just bloggin' 'bout my g-g-generation.</em></blockquote>

            <h2><code>ping $ME</code></h2>
            <p>If you have something to say, you can <a href="https://github.com/Hardmath123/hardmath123.github.io/issues/new?title=Hi&body=How's%20it%20going%3F">file an issue</a> on this blog's Github page. Or, if it's a matter of life, death, or pizza, you can email me at <a id="contactemail">contact (at) comfortablynumbered (dot) appspotmail (dot) com</a>.
        </div>
        
        <div id="scrolldown">&#8659;</div>

        <div id="postlist" class="centered">
            <br/>

            {{ #posts }}
                <strong class="postlinks" style="float:left;"><a href="{{ file }}">{{ title }}</a> </strong>&nbsp;
                <small style="float:right;">{{ date }}</small>
                <div class="clearer"></div>
                <p>{{ description }}</p>
            {{ /posts }}


            {{{ footer }}}

        </div>
    </body>
</html>
