<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>Comfortably Numbered</title>
        <script src="static/cheet.js" charset="utf-8"></script>
        <script src="static/main.js"  charset="utf-8"></script>
        <meta name="description" content="Hardmath123's blog."/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        {{{ header }}}
        

        <div id="whoami" class="centered">
            <h2><code>$ whois Hardmath123</code></h2>

            <p><span class="sc">I am a geek.</span> When not staring at math
            problems or code, I&rsquo;m producing or consuming music. <span
            class="sc">Hardmath123</span> is my alias on the internet. It was
            chosen in a much-regretted burst of spontaneity when I was
            young[er] and [more] foolish. It has inexorably linked itself with
            me since then. I don't mind.

            <p>I write English and code. I&rsquo;m interested in raytracing,
            compiler design, and cryptography. I believe in legible web design.
            I care about CS education&mdash;I help write code for Berkeley
            Snap<em>!</em> and run CS events like Scratch Day and hackathons in
            the Bay Area.

            <p>If you have something to say, you can leave a comment on any of
            the posts. If you&rsquo;re hardcore, <a
            href="https://github.com/Hardmath123/hardmath123.github.io/issues/new?title=Hi&body=How's%20it%20going%3F">file
            an issue</a> on this blog&rsquo;s Github page. If it&rsquo;s a
            matter of life, death, or pizza, you can email me at <a
            id="contactemail">contact (at) comfortablynumbered (dot)
            appspotmail (dot) com</a>. I&rsquo;m omnipresent on IRC as
            <code>hardmath123</code> on <a
            href="http://webchat.freenode.net">irc.freenode.net</a>.

            <hr/>

        </div>
        
        <div id="postlist" class="centered">

            {{ #posts }}
                <strong class="postlinks" style="float:left;">
                    <a href="{{ file }}">{{ title }}</a>
                </strong>
                <small style="float:right;">{{ date }}</small>
                <div class="clearer"></div>
                {{{ description }}}
            {{ /posts }}


            {{{ footer }}}

        </div>
    </body>
</html>
