<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <link rel="canonical" href="https://hardmath123.github.io"/>
        <title>Comfortably Numbered</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="alternate" type="application/rss+xml" title="Comfortably Numbered" href="/feed.xml" />
    </head>

    <body>
        {{{ header }}}
        

        <div id="whoami" class="centered">

            <h1>Comfortably Numbered</h1>

            <p>I am a student who loves to write. I started this blog back in
            high school, writing about whatever happened to interest me at the
            time. Of course, those interests have shifted over time, but the
            theme of this blog has been quite constant: that there is treasure
            everywhere, in even the most mundane places, and it isn&rsquo;t
            buried deep. It is yours, as long as you take care to look out for
            it.

            <p><q>Hardmath123</q> is my alias on the internet. It was chosen in
            a much-regretted burst of spontaneity when I was young[er] and
            [more] foolish, and has inextricably linked itself with me since
            then. For professionalism try <a
            href="https://cs.stanford.edu/~kach">~kach</a>.

            <hr/>

        </div>

<!--
        <div id="postlist" class="centered">

            {{ #posts }}
                <strong class="postlinks" style="float:left;">
                    <a href="{{ file }}">{{ title }}</a>
                </strong>
                <small style="float:right;">{{ date }}</small>
                <div class="clearer"></div>
                {{{ description }}}
            {{ /posts }}

        </div>
-->

        {{{ footer }}}
    </body>
</html>
