<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>{{ title }} - Comfortably Numbered</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>
            MathJax.Hub.Config({
                tex2jax: {inlineMath: [['($','$)']]}
            });
        </script>
    </head>
    <body>
        {{{ header }}}
        <article id="postcontent" class="centered">
            <section>
                <h2>{{ title }}</h2>
                <h4>{{ date }} &middot; {{ time }} min read</h4>
{{{ content }}}
            </section>

            <section>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'comfortablynumbered';
                    var disqus_identifier = '{{{ file }}}';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </section>
        </article>
        {{{ footer }}}
    </body>
</html>
